/* @import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.vue {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}

.action a:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
} */


/* Vazir Font Face */

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Black-FD.eot');
    src: url('fonts/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Black-FD.woff2') format('woff2'), url('fonts/Vazir-Black-FD.woff') format('woff'), url('fonts/Vazir-Black-FD.ttf') format('truetype'), url('fonts/Vazir-Black-FD.svg#Vazir-Black-FD') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Bold-FD.eot');
    src: url('fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Bold-FD.woff2') format('woff2'), url('fonts/Vazir-Bold-FD.woff') format('woff'), url('fonts/Vazir-Bold-FD.ttf') format('truetype'), url('fonts/Vazir-Bold-FD.svg#Vazir-Bold-FD') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Light-FD.eot');
    src: url('fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Light-FD.woff2') format('woff2'), url('fonts/Vazir-Light-FD.woff') format('woff'), url('fonts/Vazir-Light-FD.ttf') format('truetype'), url('fonts/Vazir-Light-FD.svg#Vazir-Light-FD') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Medium-FD.eot');
    src: url('fonts/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Medium-FD.woff2') format('woff2'), url('fonts/Vazir-Medium-FD.woff') format('woff'), url('fonts/Vazir-Medium-FD.ttf') format('truetype'), url('fonts/Vazir-Medium-FD.svg#Vazir-Medium-FD') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Regular-FD.eot');
    src: url('fonts/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Regular-FD.woff2') format('woff2'), url('fonts/Vazir-Regular-FD.woff') format('woff'), url('fonts/Vazir-Regular-FD.ttf') format('truetype'), url('fonts/Vazir-Regular-FD.svg#Vazir-Regular-FD') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vazir';
    src: url('fonts/Vazir-Thin-FD.eot');
    src: url('fonts/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Vazir-Thin-FD.woff2') format('woff2'), url('fonts/Vazir-Thin-FD.woff') format('woff'), url('fonts/Vazir-Thin-FD.ttf') format('truetype'), url('fonts/Vazir-Thin-FD.svg#Vazir-Thin-FD') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* Shabnam Font Face */

@font-face {
    font-family: 'shabnam';
    src: url('fonts/Shabnam-Bold-FD.eot');
    src: url('fonts/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Shabnam-Bold-FD.woff2') format('woff2'), url('fonts/Shabnam-Bold-FD.woff') format('woff'), url('fonts/Shabnam-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'shabnam';
    src: url('fonts/Shabnam-Light-FD.eot');
    src: url('fonts/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Shabnam-Light-FD.woff2') format('woff2'), url('fonts/Shabnam-Light-FD.woff') format('woff'), url('fonts/Shabnam-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'shabnam';
    src: url('fonts/Shabnam-Medium-FD.eot');
    src: url('fonts/Shabnam-Medium-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Shabnam-Medium-FD.woff2') format('woff2'), url('fonts/Shabnam-Medium-FD.woff') format('woff'), url('fonts/Shabnam-Medium-FD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'shabnam';
    src: url('fonts/Shabnam-FD.eot');
    src: url('fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Shabnam-FD.woff2') format('woff2'), url('fonts/Shabnam-FD.woff') format('woff'), url('fonts/Shabnam-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'shabnam';
    src: url('fonts/Shabnam-Thin-FD.eot');
    src: url('fonts/Shabnam-Thin-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Shabnam-Thin-FD.woff2') format('woff2'), url('fonts/Shabnam-Thin-FD.woff') format('woff'), url('fonts/Shabnam-Thin-FD.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* Sahel Font Face */

@font-face {
    font-family: 'sahel';
    src: url('fonts/Sahel-Black-FD.eot');
    src: url('fonts/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Sahel-Black-FD.woff2') format('woff2'), url('fonts/Sahel-Black-FD.woff') format('woff'), url('fonts/Sahel-Black-FD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sahel';
    src: url('fonts/Sahel-Bold-FD.eot');
    src: url('fonts/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Sahel-Bold-FD.woff2') format('woff2'), url('fonts/Sahel-Bold-FD.woff') format('woff'), url('fonts/Sahel-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sahel';
    src: url('fonts/Sahel-Light-FD.eot');
    src: url('fonts/Sahel-Light-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Sahel-Light-FD.woff2') format('woff2'), url('fonts/Sahel-Light-FD.woff') format('woff'), url('fonts/Sahel-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sahel';
    src: url('fonts/Sahel-SemiBold-FD.eot');
    src: url('fonts/Sahel-SemiBold-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Sahel-SemiBold-FD.woff2') format('woff2'), url('fonts/Sahel-SemiBold-FD.woff') format('woff'), url('fonts/Sahel-SemiBold-FD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sahel';
    src: url('fonts/Sahel-FD.eot');
    src: url('fonts/Sahel-FD.eot?#iefix') format('embedded-opentype'), url('fonts/Sahel-FD.woff2') format('woff2'), url('fonts/Sahel-FD.woff') format('woff'), url('fonts/Sahel-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
.body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
strike,
strong,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
small,
.btn {
    font-family: 'vazir', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.badge-success {
    background-color: var(--fallback-su, #50cd89) !important;
    color: var(--fallback-suc, #e8fff3) !important;
}

.badge-error {
    background-color: var(--fallback-er, #f1416c) !important;
    color: var(--fallback-erc, #fff5f8) !important;
}

.custom-rtl {
    direction: rtl;
}

.bgl-secondary {
    background: #f1dffe;
    border-color: #f1dffe;
}

.bgl-success {
    background: #e3f9e9;
    border-color: #e3f9e9;
}